body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: white;
}

@font-face {
    font-family: "Pokemon_DP";
    src: url('../font/pkmndp.eot?#iefix') format('embedded-opentype'),
    url('../font/pkmndp.eot'),
    url('../font/pkmndp.woff') format('woff'),
    url('../font/pkmndp.ttf') format('truetype');
}

/******************** GENERAL ********************/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******************** HEADER ********************/

.header-button {
    font-family: "Pokemon_DP";
    position: absolute;
    cursor: pointer;
    font-size: 2vw;
    min-height: 2vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    border: 3px solid black;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border: 4px solid black;
}

.header-button:active {
    background-color: rgba(255, 255, 255, 0.8);
}

#game_button {
    top: 1vh;
    left: 5vw;
}

#download_button {
    top: 1vh;
    left: 17vw;
}

#contact_button {
    top: 1vh;
    right: 22vw;
}

#language_button {
    top: 1vh;
    right: 5vw;
}

.flag {
    max-height: 1.5vw;
    width: 2.54vw;
    margin-right: 0.5vw;
}

#pokemon_logo {
    position: absolute;
    top: 1vh;
    right: 50%;
    transform: translate(50%, 0);
    width: 30vw;
}

/******************** FAQ SECTION ********************/

#faq_container {
    background-image: url("../img/bg-tile.svg");
    overflow: hidden;
    display: flex;
    justify-content: center;
    min-height: 95vh;
}

#accordions_container {
    position: relative;
    margin-top: 30vh;
    width: 60vw;
}

.accordion {
    font-family: "Pokemon_DP";
    cursor: pointer;
    font-size: 2vw;
    background-color: #FBCE1A;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.active, .accordion:hover {
    color: white;
    background-color: #33B7FF;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.5);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: Titillium Web,sans-serif;
    font-size: 1.1em;
    margin-bottom: 2vh;
}

.no-style-link {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}

/******************** ICONES FAQ **************************/

.icon-chevron:before {
    font-family: "Segoe Fluent Icons";
    content: "\f8b0";
}

.icon-allapps:before {
    font-family: "Segoe Fluent Icons";
    content: "\f259";
}

.icon-oem:before {
    font-family: "Segoe Fluent Icons";
    content: "\e74c	";
}

.icon-add:before {
    font-family: "Segoe Fluent Icons";
    content: "\e710	";
}

.icon-favicon:before {
    font-family: "Segoe Fluent Icons";
    content: "\e737	";
}

.icon-shield:before {
    font-family: "Segoe Fluent Icons";
    content: "\ea18	";
}

.icon-cloud:before {
    font-family: "Segoe Fluent Icons";
    content: "\e753	";
}

.subtitle-color {
    color: gray;
}

/******************** CONTACT SECTION ********************/

#contact_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.7vw;
    height: 5vh;
}

/******************** FOND GRIS ********************/

#background-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

/******************** AFFICHAGE TELEPHONE ********************/
@media (orientation: portrait) {

    /******************** HEADER ********************/
    :root {
        --header-height: 100vh;
    }

    #pokemon_logo {
        right: 25%;
        top: 1vh;
        max-width: 30vh;
        min-width: 19vh;
    }

    .header-button {
        font-size: 4vh;
        min-height: 4vh;
        display: table;
    }

    #game_button {
        top: 1vh;
        left: 5vw;
    }

    #download_button {
        top: 8vh;
        left: 5vw;
    }

    #contact_button {
        display: none;
    }

    #language_button {
        top: 15vh;
        left: 5vw;
    }

    .flag {
        max-height: 4vh;
        width: 4.54vh;
        margin-right: 1vh;
    }

    /******************** FAQ SECTION ********************/

    #faq_container {
        min-height: 95vh;
    }

    #accordions_container {
        margin-top: 30vh;
        width: 80vw;
    }

    .accordion {
        font-size: 4vh;
    }

    .panel {
        font-size: 4vw;
        margin-bottom: 2vw;
    }

    /******************** FOOTER ********************/

    #contact_section {
        font-size: 0.7vh;
        height: 5vw;
    }
}